/* 
button {
    background-color: black;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    left: 0px;
  }
  
  button a {
    border: 5px solid #d4b13b;
    padding: 4px;
  } */
/* ////////  Modal ///////*/

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modal-content {
  background-color: white;
  width: 80%;
  height: 85%;
  margin: auto;
  margin-top: 5%;
  overflow: scroll;
  padding: 1em;
  text-align: center;
}
/* img */
.gryffimg,
.huffleimg,
.slythimg,
.ravenimg {
  width: 100px;
}

/* /// Close Button /// */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-right: -6px;
  margin-top: 17px;
}

.close:hover {
  color: #000;
  cursor: pointer;
}

.hide {
  display: none;
}

/* #sort,
  #filter {
    text-transform: uppercase;
  } */
