html[data-colors="Gryffindor"] {
  --color-text: white;
  --color-bg: red;
}

html[data-colors="Hufflepuff"] {
  --color-text: white;
  --color-bg: rgb(236, 236, 11);
}

html[data-colors="Ravenclaw"] {
  --color-text: white;
  --color-bg: blue;
}

html[data-colors="Slytherin"] {
  --color-text: white;
  --color-bg: green;
}
html {
  text-transform: uppercase;
}

/* select {
  text-transform: uppercase;
} */

/* 
button {
    background-color: black;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    left: 0px;
  }
  
  button a {
    border: 5px solid #d4b13b;
    padding: 4px;
  } */
/* ////////  Modal ///////*/

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modal-content {
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 80%;
  height: 85%;
  margin: auto;
  margin-top: 5%;
  overflow: scroll;
  padding: 1em;
  text-align: center;
}

/* /// Close Button /// */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-right: -6px;
  margin-top: 17px;
}

.close:hover {
  color: #000;
  cursor: pointer;
}

.hide {
  display: none;
}

.house-img-modal {
  width: 100px;
}

/* .remove {
  animation: zoomIn 3s forwards;
}

@keyframes zoomIn {
  to {
    transform: scale(100);
  }
} */

.remove {
  animation: remove 2s forwards;
}

@keyframes remove {
  0% {
    bottom: 20px;
    left: 600px;
  }

  50% {
    transform: translateY(-100px);
    animation-timing-function: cubic-bezier(0.23, 0.66, 0.77, 0.57);
  }

  100% {
    bottom: 250px;
    left: 500px;
    background-size: 1px;
  }
}

.donttouch {
  color: pink;
  animation: donttouch 2s forwards;
}

@keyframes donttouch {
  0% {
    bottom: 20px;
    left: 600px;
  }

  50% {
    transform: translateY(-100px);
    animation-timing-function: cubic-bezier(0.23, 0.66, 0.77, 0.57);
  }

  100% {
    bottom: 250px;
    left: 500px;
    background-size: 1px;
  }
}

/* Template */

#mainslisttudents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-gap: 1em;
  padding-top: 10px;
}

#articlestudents {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  padding-left: 7.5em;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  height: 220px;
  width: 325px;
  padding-top: 25px;
  background-color: white;
}

.firstname,
.lastname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn {
  background-color: black;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  left: 0px;
  top: 160px;
}

.btn a {
  border: 5px solid #d4b13b;
  padding: 4px;
}
.removeBtn {
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 10px;
  background-image: url(../images/things/magicpot1.png);
}

#articlestudents.img-templat {
  margin: 0 auto;
  margin-top: 30px;
}

body {
  max-width: 100%;
  margin: auto;
  color: #29484b;
  font-family: sans-serif;
  background-color: #9839c9;
}
#wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: 1em 1em 1em;
  grid-template-areas:
    "title title title"
    "list list list"
    "options options options"
    "main main main";
  /* "footer footer footer"; */
}

#title {
  grid-area: title;
}

.list {
  grid-area: list;
}

.options {
  grid-area: options;
}

main {
  grid-area: main;
}
